.card {
  background-color: #f1f1f1;
  width: 150px;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 3px rgb(0 0 0 / 0.2)
}

.card h3 {
  text-align: center;
  margin: 0;
  color: var(--link-color);
  font-weight: bold;
}

.card_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card_content p {
  margin: 1em;
  padding-bottom: 1em;
}